@import "../../styles/variables";

.header {
    display: flex;
    justify-content: space-between;

    padding: 5px 20px;
    background-color: var(--navy);


    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;





    @media (max-width: $breakpoint-md) {}


}