@import "../../styles/variables";

.work {

    display: flex;
    flex-direction: column;

    width: 50%;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 10%;


    .title {

        padding-bottom: 2rem;


        h3 {
            position: relative;
            font-size: var(--fz-section-title-md);
            color: var(--lightest-slate);
            overflow: hidden;

            span {
                color: var(--green);
                margin-right: 10px;
            }


            &::after {
                content: '';
                width: 90%;
                position: absolute;
                margin-left: 30px;
                top: 15px;
                border-top: 1px solid var(--slate);
            }


        }





    }






    .content {
        display: flex;
        flex-direction: column;
    }



    @media (max-width: $breakpoint-md) {
        width: 90%;
        border: 1px solid green;;

        .description {
            width: 90%;
        }
    }
}