.content {


    .title {
        font-size: var(--font-size-medium)
    }

    .period {
        font-family: var(--font-mono);
    }

    .tasks {

        li:nth-child(1) {
            margin-top: 40px;
        }

        li {

            padding: 10px;
            position: relative;
            font-size: var(--fz-xl);

            &::before {

                content: "▹";
                position: absolute;
                left: -10px;
                color: var(--green);
                font-size: var(--fz-sm);
                line-height: 12px;
            }
        }


    }
}