@import "../../../styles/variables";

.content {


    
    


    .title {
        font-size: var(--fz-section-title-sm)
    }

    .period {
        font-family: var(--font-mono);
    }

    .tasks {

        li:nth-child(1) {
            margin-top: 40px;
        }

        li {

            padding: 10px;
            position: relative;
            font-size: var(--fz-xl);

            color: var(--slate);

            &::before {

                content: "▹";
                position: absolute;
                left: -10px;
                color: var(--green);
                font-size: var(--fz-sm);
                line-height: 12px;
            }
        }


    }


    @media (max-width: $breakpoint-md) {
        .tasks {
            li {
                font-size: var(--fz-md);
                padding: 8px;

            }
        }
      
    }

}