.button {

    text-decoration: none;
    font-family: var(--font-mono);
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    color: var(--green);


    &:hover {
        background-color: var(--green-tint);
        cursor: pointer;
    }

    //sizes    

    //standard
    font-size: var(--fz-xs);
    padding: 15px 20px 10px 20px;
    line-height: 30px;


}

.large {
    font-size: var(--fz-lg);
    padding: 20px 25px 15px 25px;
    line-height: 35px;
}