@import "../../styles/variables";

.project {

    display: flex;
    flex-direction: row;
    
    margin-bottom: 50px;
    position: relative;
    justify-content: center;
   
   

    .image {

       
        z-index: 1;

       
        display: flex;
        flex-direction: column;
        align-items: center;
      
      



    }

    .content {
        padding: 30px;
        text-align: right;


        &>* {
            padding: 1rem;
        }

        .featured {
            font-family: var(--font-mono);
            color: var(--green);
            font-size: var(--fz-sm);
            padding-bottom: 0.5rem;
        }

        .title {
            font-size: var(--fz-section-title-sm);

            &:hover {
                color: var(--green);
                cursor: pointer;
            }
        }

        .description {
            padding: 25px;
            background-color: var(--light-navy);
            font-size: var(--fz-lg);
            position: relative;
            z-index: 2;
            box-shadow: var(--shadow);
            border-radius: var(--border-radius);

            margin-left: -60px;



        }



        .stack {
            display: flex;
            justify-content: flex-end;



            li {
                font-family: var(--font-mono);
                font-size: var(--fz-sm);
                padding: 0 10px;

                &:last-child {
                    padding-right: 0;

                }
            }
        }

        .links {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            li {
                padding: 10px;
            }
        }




    }

    &.reverse {
        flex-direction: row-reverse;

        .content {
            .description {
                margin-right: -60px;
            }
        }
    }


  
    @media (max-width: $breakpoint-lg) {
       
        
        
        .image{
            position: absolute;
            height: 100%;
            opacity: 0.20;
            
            width: 100%;
            overflow-x: hidden;
            
        }

        .content {
            z-index: 2;
            text-align: left;
            width:80%;

            .description{
               
                line-height: 25px;
                padding: 25px 0;
                background-color: unset;
                z-index: 0;
                box-shadow: unset;
                border-radius: unset;
                margin:unset;
              
                
              
            }

            .links{
                justify-content: flex-start;

            }

            .stack{
                justify-content: flex-start;
                
            }


            
        }

        &.reverse {
           
            .content {
                .description {
                    margin-right: unset;
                }
            }
        }


      

        

     
        
      

       
    }


  


}