@import "../../styles/variables";


.hero {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 65%;
   


    margin: 0 auto;
    padding: 0;

    &>* {
        padding: 1rem;
    }

    .p1 {
        color: var(--green);
        font-size: var(--fz-md);
        letter-spacing: 0.1rem;
    }

    .name {

        padding-bottom: 0.1rem;
        color: var(--lightest-slate);
        font-size: var(--fz-heading);
    }

    .subtitle {
        padding-bottom: 0.5rem;
        color: var(--slate);
        font-size: var(--fz-heading);
    }

    .description {
        width: 60%;
        font-size: var(--fz-xl);
        line-height: 2rem;
    }

    .cta {
        padding-top: 3rem;
    }

    @media (max-width: $breakpoint-md) {
        width: 90%;

        .description {
            width: 90%;
        }
    }

}