@import "../../styles/variables";

.experience {




    display: flex;
    flex-direction: column;

    width: 45%;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 10%;


    .title {

        padding-bottom: 2rem;


        h3 {
            position: relative;
            font-size: var(--fz-section-title-md);
            color: var(--lightest-slate);
            overflow: hidden;

            span {
                color: var(--green);
                margin-right: 10px;
            }


            &::after {
                content: '';
                width: 90%;
                position: absolute;
                margin-left: 30px;
                top: 15px;
                border-top: 1px solid var(--slate);
            }

        }


    }






    .content {
        display: flex;
        flex-direction: row;

        .left {

            ul {
                border-left: 1px solid var(--lightest-navy);
                font-family: var(--font-mono);
                font-size: var(--fz-sm);

                li {



                    padding: 20px 10px;
                    transition: background-color ease-in-out 250ms;

                    &:hover {
                        background-color: var(--light-navy);
                        color: var(--green);
                        cursor: pointer;
                    }

                    &.active {
                        border-left: 2px solid var(--green);
                        background-color: var(--light-navy);
                        color: var(--green);
                        cursor: pointer;
                    }


                }



            }

        }

        .right {
            margin-left: 50px;

            .rightContent {}
        }

    }






    @media (max-width: $breakpoint-md) {
        width: 90%;

        .content{
            .left {
                ul li{
                    font-size: var(--fz-xs);
                }
            }

            .right {}
            
        }
      
    }


    @media (max-width: $breakpoint-sm) {
        width: 90%;

        .content{
            display: flex;
            flex-direction: column;
            gap: 50px;
        .left{
            overflow-y: hidden;
            overflow-x: scroll;
            
            
            ul{
                
                display: flex;
                flex-direction: row;
                align-items: center;
                li{
                    text-align: center;
                    padding: 10px 10px;
                    height: 70px;
                    width: 150px;
                    min-width: 150px;
                    max-width: 200px;
                    margin-bottom: 3px;

                    &:hover {
                        background-color: var(--light-navy);
                        color: var(--green);
                        cursor: pointer;
                    }

                    &.active {
                        border: 0;
                        border-bottom: 2px solid var(--green);
                        background-color: var(--light-navy);
                        color: var(--green);
                        cursor: pointer;
                    }

                }
            }
        }
        }
    }
    
}