@import "../../styles/variables";

.about {

    display: flex;
    flex-direction: column;

    width: 50%;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 10%;


    .title {

        padding-bottom: 2rem;


        h3 {
            position: relative;
            font-size: var(--fz-section-title-md);
            color: var(--lightest-slate);
            overflow: hidden;

            span {
                color: var(--green);
                margin-right: 10px;
            }


            &::after {
                content: '';
                width: 90%;
                position: absolute;
                margin-left: 30px;
                top: 15px;
                border-top: 1px solid var(--slate);
            }

        }


    }


    .content {
        display: flex;
        flex-direction: row;





        .left {

            width: 70%;



            .description {
                padding-bottom: 2rem;
                font-size: var(--fz-xxl);
            }

            .skills {
                font-size: var(--fz-sm);
                -moz-column-count: 2;
                -moz-column-gap: 20px;
                -webkit-column-count: 2;
                -webkit-column-gap: 50px;
                column-count: 2;
                column-gap: 50px;
                font-family: var(--font-mono);

                li {

                    padding: 5px;
                    position: relative;

                    &::before {
                        content: "▹";
                        position: absolute;
                        left: -10px;
                        color: var(--green);
                        font-size: var(--fz-sm);
                        line-height: 12px;
                    }

                    &:hover {
                        color: var(--green);
                    }
                }
            }

        }

        .right {
            padding: 5%;

        }
    }


    @media (max-width: $breakpoint-md) {
        display: flex;
        flex-direction: column;
        width: 90%;

        .title {
            padding: 0;
        }

        .content {
            flex-direction: column-reverse;

            .left {
                width: 100%;

                .description {
                    width: 95%;
                    margin: 0 auto;
                    font-size: var(--fz-lg);
                }

                .skills {
                    width: 90%;
                    margin: 0 auto;

                }


            }

            .right {
                margin: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }


    }

}