.logoWrapper {

    --logo-border: 2px solid var(--green);



    width: 48px;
    height: 48px;
    font-size: 36px;
    color: var(--green);
    text-align: center;
    padding-top: 3px;
    margin: 15px;
    cursor: pointer;





}