@import "variables";

@import url('http://fonts.cdnfonts.com/css/calibre');

@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Regular'), url('../public/fonts/SFMonoRegular.woff') format('woff');
}


:root {

  /*  Colors Palette*/
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);

  /*  Font Family*/
  --font-sans: 'Calibre', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

  /*  Font Sizes*/
  --fz-xs: 0.8rem;
  --fz-sm: 0.9rem;
  --fz-md: 1rem;
  --fz-lg: 1.1rem;
  --fz-xl: 1.2rem;
  --fz-xxl: 1.4rem;
  --fz-heading: 4.5rem;
  --fz-section-title-lg: 3rem;
  --fz-section-title-md: 2rem;
  --fz-section-title-sm: 1.8rem;

  /* Decoration Details */
  --shadow: 0 10px 30px -15px var(--navy-shadow);

  --border-radius: 4px;

  /* Navigation Properties*/
  --nav-height: 100px;
  --nav-scroll-height: 70px;

  /* Tab Properties*/
  --tab-height: 42px;
  --tab-width: 120px;

  /* Animations Properties*/
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition-simple: all 250ms ease-in-out;





}


@media (max-width: $breakpoint-md) {
  :root {
    --fz-heading: 3.5rem;
  }
}

@media (max-width: $breakpoint-sm) {
  :root {
    --fz-heading: 2.5rem;
  }
}




html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


html,
body {

  background: var(--navy);
  font-family: var(--font-sans);
  color: var(--light-slate);
}

ul {
  list-style: none;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}